@model Gather_Requirement_Project.Models.Screen
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Create";

    SelectList ScreentTypeList = new SelectList(ViewBag.screenTypesList, "ID", "Name", ViewBag.screenTypesList);
    SelectList ModulesList = new SelectList(ViewBag.modulesList, "ID", "EnglishNameInSingle", ViewBag.modulesList);

}


<div class="container-fluid" id="page-top">
    <div class="card ">
        <div class="card-header">
            <h4>  <i class="fa fa-desktop" aria-hidden="true"></i>&nbsp&nbsp Create New Screen </h4>
        </div>
        <div class="card-body" style="">
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <a asp-action="Index" asp-route-modulId="@ViewBag.ModuleID">Go to Back</a>
                </div>
            </div>
            <hr />
            <div class="text-md-left row">

                <form asp-action="Create" asp-controller="Screen" method="post" enctype="multipart/form-data" class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div>

                                    <label class="form-label-group" asp-for="ScreenName"><b>Screen Name</b></label>
                                    <input asp-for="ScreenName" class="form-control" />
                                    <span asp-validation-for="ScreenName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>

                                    <label class="form-label-group" asp-for="ScreenNameArabic"><b>Screen Name Arabic</b></label>
                                    <input asp-for="ScreenNameArabic" class="form-control" />
                                    <span asp-validation-for="ScreenNameArabic" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label class="form-label-group" asp-for="ModuleID"><b>Module</b></label><br />
                                    <select id="sel" hidden asp-for="ModuleID" class="form-control" asp-items="ModulesList"></select>
                                    <label id="lbl" class="form-label-group"></label>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label class="form-label-group" asp-for="screenTypeID"><b>Screen Type</b></label>
                                    <select asp-for="screenTypeID" class="form-control" asp-items="ScreentTypeList"></select>
                                </div>
                            </div>




                            <div class="col-md-6">
                                <div>
                                    <label class="form-label-group" asp-for="EmpName" class="control-label"><b>Employee Name</b></label>
                                    <input asp-for="EmpName" class="form-control" />
                                    <span asp-validation-for="EmpName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label class="form-label-group" asp-for="EmpJob" class="control-label"><b>Employee Job</b></label>
                                    <input asp-for="EmpJob" class="form-control" />
                                    <span asp-validation-for="EmpJob" class="text-danger"></span>
                                </div>
                            </div>

                            @*<div class="col-md-6">
                                <div>
                                    <label class="form-label-group" asp-for="DevName" class="control-label"><b>Developer Name</b></label>
                                    <input asp-for="DevName" class="form-control" value="@User.Identity.Name" />
                                    <span asp-validation-for="DevName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <label class="form-label-group" asp-for="Date" class="control-label"><b>Date</b>  </label>
                                    <input asp-for="Date" class="form-control" type="Date" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                            </div>*@






                            <div class="col-md-6">
                                <div>
                                    <label class="form-label-group" asp-for="ImagePathPhysical"><b>Upload Image</b></label>
                                    <input class="form-control" type="file" asp-for="ImageFile" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-md-12" style="margin-top:15px">
                                <div class="form-label-group" style="float:left">
                                    <input type="submit" value="Create" class="btn btn-primary" style="padding:10px;text-align:center;font-weight:bold" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>


        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
        $("#lbl").empty();
        $("#lbl").append(($("#sel").children("option:selected").text()));
    });
</script>