@model Gather_Requirement_Project.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="container-fluid" style="background-color:darkslategray;min-height:700px;">
    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">

            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form asp-action="Register" asp-controller="Account" method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="DeveloperName" class="control-label"></label>
                            <input asp-for="DeveloperName" class="form-control" />
                            <span asp-validation-for="DeveloperName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>




                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

