
@{
    ViewData["Title"] = "ListAllPrograms";
}

<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <h4> <i class="fa fa-desktop" aria-hidden="true"></i>&nbsp&nbsp All Programs </h4>
        </div>
        <div class="card-body" style="">
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <hr />


            <br />

            <b>
                <pre>
                    @ViewBag.report
                </pre>
            </b>


            <ul class="mb-1 pl-3 pb-2">
                <li>
                    <i class="fas fa-angle-right rotate"></i>
                    <span> اختبار 1 </span>
                    <ul class="nested">

                        <li>
                            <i class="fas fa-angle-right rotate"></i>
                            <span> الشئون الادارية </span>
                            <ul class="nested">

                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> شئون عاملين -اجازة </span>
                                    <ul class="nested">
                                        <li>حساب اجازه معين</li>
                                        <li>حساب اجازه متعاقد</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> شئون عاملين - بيانات موظف </span>
                                    <ul class="nested">
                                        <li>اخلاء طرف</li>
                                        <li>اسماء من يعولهم</li>
                                        <li>انهاء خدمة</li>
                                        <li>العلاوه التشجيعيه</li>
                                        <li>الكفاية</li>
                                        <li>بيانات اقرار الذمه الماليه</li>
                                        <li>تجنيد</li>
                                        <li>تسجيل  بيانات موظف</li>
                                        <li>نقل موظف متعاقد من اداره لاداره</li>
                                        <li>فسخ التعاقد</li>
                                        <li>المؤهلات العلمية للموظف</li>
                                        <li>صندوق الجزاءات</li>
                                        <li>حالة الموظف</li>
                                        <li>خبرات الموظف</li>
                                        <li> تسجيل مقرر الانجاز الشهري  لفتره تعاقد الاستشاري</li>
                                        <li>تسجيل بيانات تجديد عقد موظف</li>
                                        <li>تسجيل البيانات الاساسيه وبيانات التعاقد لموظف متعاقد اول مره</li>
                                        <li>ترقية</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> شئون عاملين -تامينات اجتماعية  </span>
                                    <ul class="nested">
                                        <li>تامينات اجتماعية لعائلة الموظف</li>
                                        <li>المنشأة</li>
                                        <li>الرقم التاميني للموظف</li>
                                        <li>بيانات الموظف التامينيه السابقه</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> النقل والحركة </span>
                                    <ul class="nested">
                                        <li>تسجيل استماره 50</li>
                                        <li>تقويم اداء موظف</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> تنظيم واداره - تدريب </span>
                                    <ul class="nested">
                                        <li>الحاصلين ع الدورات</li>
                                        <li> استماره مختلفه اضافه غير مستخلصه</li>
                                        <li>(اكواد الدوره (الفرعيه</li>
                                        <li>الخطه السنويه</li>
                                        <li>جهه التدريب</li>
                                        <li>اكواد الدوره</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> ضبط مراقبة الوقت و دوام العامل </span>
                                    <ul class="nested">
                                        <li>إضافي المأمورية</li>
                                        <li>الحدث</li>
                                        <li>بيانات البصمه الخطأ اليومي</li>
                                        <li>ساعة رضاعة</li>
                                        <li>بيانات الاستمرار للعاملين بالهيئة</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> تنظيم واداره - تسكين </span>
                                    <ul class="nested">
                                        <li> اجمالى المقرر الوظيفى</li>
                                        <li>ادخال الاثتثناء للفروع (المهندس)</li>
                                        <li>استكمال بيانات مهندس مشرف</li>
                                        <li>اسناد اشراف مهندسين من خارج قسم التنفيذ</li>
                                        <li>اسناد مشروع صيانه ( كهرباء) لمهندس كهرباء</li>
                                        <li>التسكين الوظيفى للادارات الهيئه</li>
                                        <li>انهاء تسكين الوظيفى للموظف</li>
                                        <li>انهاء تسكين مهندس تنفيذى على مشروع معين (الفروع) ظروف طارئه</li>
                                        <li>برنامج المقررات الوظيفيه</li>
                                        <li>تسكين وظيفى لمهندس تنفيذى بدون مشروع </li>
                                        <li>كود سبب انهاء تسكين مهندس على مشروع</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> قضايا </span>
                                    <ul class="nested">
                                        <li>تسجيل بيانات الدعوي</li>
                                        <li>متابعة جلسات</li>
                                        <li>حافظة المستندات</li>
                                        <li>تسجيل منطوق الحكم</li>
                                        <li>اكواد الجهات الخارجية </li>
                                        <li>اكواد موضوعات التحكيم</li>
                                        <li>اكواد سبب انهاء اسناد محامي لقضية</li>
                                        <li>انهاء اسناد القضية للمحامي</li>
                                        <li>اسناد القضية لمحامي جديد</li>
                                        <li>تسجيل ماتم في الجلسة</li>
                                        <li>تسجيل جلسات دعوي (تحكيم) </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> شئون عاملين -حساب المرتب </span>
                                    <ul class="nested">
                                        <li>علاوه تشجيعيه او علاه ترقيه</li>
                                        <li>علاوة 5% 7%</li>
                                        <li>البدل</li>
                                        <li>الراتب المجرد</li>
                                        <li>استماره دفع الكتروني</li>
                                        <li>مرتب البنك </li>
                                        <li>علاوات موظف</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> الصيدلية </span>
                                    <ul class="nested">
                                        <li>بيانات الموظف الطبيب</li>
                                        <li>بيانات الادوية</li>
                                        <li>فترة عمل الصيدلية</li>
                                        <li>صرف دواء لمريض</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> العياده </span>
                                    <ul class="nested">
                                        <li>الموظف المريض</li>
                                        <li> قيم التامينات للعاملين علي اجازه خاصة</li>
                                        <li>بيانات التخصص</li>
                                        <li>بيانات الموظف الطبيب</li>
                                        <li>فتره عمل للعيادة</li>
                                        <li>صرف دواء المريض</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> سيارات الهيئة  </span>
                                    <ul class="nested"></ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> السكرتارية والمحفوظات </span>
                                    <ul class="nested"></ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> المخازن </span>
                                    <ul class="nested"></ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> برنامج المسابقات شئون العاملين </span>
                                    <ul class="nested"></ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <i class="fas fa-angle-right rotate"></i>
                    <span> اختبار 2 </span>
                    <ul class="nested">

                        <li>
                            <i class="fas fa-angle-right rotate"></i>
                            <span> تطبيقات خدمية </span>
                            <ul class="nested">

                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> جمعيه التعاونيه </span>
                                    <ul class="nested">
                                        <li>تسجيل بيانات العضويه </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> الوحدات الصحية وزارة التضامن هيئة البريد </span>
                                    <ul class="nested">
                                        <li> تسجيل طلب خدمة جديد</li>
                                        <li>تسجيل الخدمات المطلوبة</li>
                                        <li>تسجيل اكواد الخدمات الخارجية وتكلفتها</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> صندوق التكافل الاجتماعي </span>
                                    <ul class="nested">
                                        <li>كود صندوق التكافل الاجتماعي</li>
                                        <li>خصم مبلغ لموظف بالصندوق</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> النقابه </span>
                                    <ul class="nested">
                                        <li>فاتوره خطوط التليفون</li>
                                        <li>حساب فواتير اتصالات</li>
                                        <li>بيانات المشتركين</li>
                                        <li>اعانات موظفين غير محملة علي شيك</li>
                                        <li>ادخال مبالغ السحب والايداع</li>
                                        <li>تسجيل اعانات موظفين بعد صرف علي شيك</li>
                                        <li>تسجيل اعانات لورثه موظف</li>
                                        <li>تسجيل رعاية اجتماعية لورثة موظف</li>
                                        <li>تسجيل تحصيات الصندوق</li>
                                        <li>تسجيل التوريد</li>
                                        <li>تسجيل سداد تحصيات الي الجهة الخاصة بها</li>
                                        <li>تسجيل كود الاعانة جديد </li>
                                        <li>تسجيل كود تحصيل جديد </li>
                                        <li>تسجيل كود جهة جديد </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> صندوق التكافل الاجتماعي أ </span>
                                    <ul class="nested">
                                        <li>اشتراك الصندوق عن سنوات سابقه</li>
                                        <li>انهاء اجازه خاصه بالموظف</li>
                                        <li>انهاء اشتراك موظف بالصندوق</li>
                                        <li>بيانات المشترك في الصندوق</li>
                                        <li>خصم مبلغ لموظف بالصندوق</li>
                                        <li>قيمة الاشتراك حسب السن</li>
                                        <li>مبلغ اشتراك بموجب الشيكات </li>
                                        <li>بيانات القيام باجازه خاصه للموظف</li>
                                        <li>تعديل قيمة الاشتراك ومبلغ الاستحقاق</li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> صندوق التكافل الاجتماعي ب </span>
                                    <ul class="nested">
                                        <li>اشتراك الصندوق عن سنوات سابقه</li>
                                        <li>انهاء اجازه خاصه بالموظف</li>
                                        <li>انهاء اشتراك موظف بالصندوق</li>
                                        <li>بيانات المشترك في الصندوق</li>
                                        <li>خصم مبلغ لموظف بالصندوق</li>
                                        <li>قيمة الاشتراك حسب السن</li>
                                        <li>مبلغ اشتراك بموجب الشيكات </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="fas fa-angle-right rotate"></i>
                                    <span> صندوق التكافل الاجتماعي ج </span>
                                    <ul class="nested">
                                        <li>اشتراك الصندوق عن سنوات سابقه</li>
                                        <li>انهاء اجازه خاصه بالموظف</li>
                                        <li>انهاء اشتراك موظف بالصندوق</li>
                                        <li>بيانات المشترك في الصندوق</li>
                                        <li>خصم مبلغ لموظف بالصندوق</li>
                                        <li>قيمة الاشتراك حسب السن</li>
                                        <li>مبلغ اشتراك بموجب الشيكات </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>


        </div>
    </div>
</div>





